<h2>Owners</h2>

<form (ngSubmit)="$event.preventDefault()" style="max-width: 20em; margin-top: 2em;">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Filter" [(ngModel)]="query" />
  </div>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-md-table-cell">Address</th>
      <th>City</th>
      <th>Telephone</th>
      <th class="d-none d-sm-table-cell">Pets</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let owner of filteredOwners; trackBy: trackByOwnerId">
      <td>
        <a [routerLink]="['/owner', owner.id]">
          {{owner.firstName}} {{owner.lastName}}
        </a>
      </td>
      <td class="d-none d-md-table-cell">{{owner.address}}</td>
      <td>{{owner.city}}</td>
      <td>{{owner.telephone}}</td>
      <td class="d-none d-sm-table-cell">
        <span *ngFor="let pet of owner.pets">{{pet.name}} </span>
      </td>
    </tr>
  </tbody>
</table>
