# Maven
target/

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/

#VSCode
settings.json

# Node.js
package-lock.json
node_modules/
playwright-report/
test-results/
