<div class="container">
  <h2>{{ isEditMode ? 'Edit' : 'New' }} Pet</h2>

  <form [formGroup]="petForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label">Owner</label>
      <div class="col-sm-6">
        <p class="form-control-static">{{ ownerName }}</p>
      </div>
    </div>

    <div class="row mb-3">
      <label for="name" class="col-sm-2 col-form-label">Name</label>
      <div class="col-sm-6">
        <input 
          type="text" 
          class="form-control" 
          id="name" 
          formControlName="name"
          [class.is-invalid]="submitted && f['name'].errors"
        />
        <div class="invalid-feedback" *ngIf="submitted && f['name'].errors">
          <div *ngIf="f['name'].errors['required']">Name is required.</div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="birthDate" class="col-sm-2 col-form-label">Birth Date</label>
      <div class="col-sm-6">
        <input 
          type="date" 
          class="form-control" 
          id="birthDate" 
          formControlName="birthDate"
          [class.is-invalid]="submitted && f['birthDate'].errors"
        />
        <div class="invalid-feedback" *ngIf="submitted && f['birthDate'].errors">
          <div *ngIf="f['birthDate'].errors['required']">Birth date is required.</div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="typeId" class="col-sm-2 col-form-label">Type</label>
      <div class="col-sm-6">
        <select 
          class="form-select" 
          id="typeId" 
          formControlName="typeId"
          [class.is-invalid]="submitted && f['typeId'].errors"
        >
          <option *ngFor="let type of petTypes" [value]="type.id">{{ type.name }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="submitted && f['typeId'].errors">
          <div *ngIf="f['typeId'].errors['required']">Type is required.</div>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-sm-6 offset-sm-2">
        <button class="btn btn-success" type="submit">
          {{ isEditMode ? 'Update' : 'Add' }} Pet
        </button>
      </div>
    </div>
  </form>
</div>
